.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $semi-light-green;
}
.header{
    padding: 20px 0;
    h2{ 
        background: linear-gradient(90deg, rgba(158, 0, 236,1) 20.5%,rgba(158, 0, 235,1) 20.5%,rgba(243, 72, 104,1) 80.5%);
        font-weight: bolder;
        font-size: 5em;
        margin: 0;
        font-family: 'Bonheur Royale', cursive;
        user-select: none;
        padding: 20px 0;
        -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
    }
}
.ant-layout-sider-children{
    margin: 0 10px;
}
.search-result-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 1024px;
    margin: 0 auto;
    min-height: 50vh;
    padding: 10px 0;
    .product-table{
        display: flex;
        flex-direction: column;
        input{
        width: 100%;
        font-size: 18px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 15px;
        background-color:  $search-input-bg-color;
        height: 50px;
        border: none;
        color: white;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $search-input-text-color;
        font-weight: 100;
        }
        &::-moz-placeholder { /* Firefox 19+ */
        color: $search-input-text-color;
        font-weight: 100;
        }
        &:-ms-input-placeholder { /* IE 10+ */
        color: $search-input-text-color;
        font-weight: 100;
        }
        &:-moz-placeholder { /* Firefox 18- */
        color: $search-input-text-color;
        font-weight: 100;
        }
        &:focus{
            outline: none;
            border: none;
        }
    }
    }
}
.product-table-container{
        min-height: 100vh;
}
.ant-layout-content{
    
}
.product-table-wrapper{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    .single-product-item{
        border-radius: 10px;
        background-color: white;
        .single-product-item-img{
            height: 300px;
            overflow: hidden;
            text-align: center;
            img{
            border-radius: 10px 10px 0 0;    
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
        }
        }
        img:hover{
            transform: scale(1.1);
            transition: all 1.4s ease-in-out;
        }
        .single-product-item-text{
           padding: 20px;
        }
    }
}
/* Loader CSS rules*/
.loader-container{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .ball{
        width: $ball-diameter;
        height: $ball-diameter;
        margin: 10px;
        border-radius: 50%;
        transform-origin:center ;
    }
    .ball-1{
        background-color: $ball-1-bg-color;
        animation: ball-one 1.5s ease-in-out 0s infinite forwards;
    }
    .ball-2{
        background-color: $ball-2-bg-color;
        animation: ball-two 1.5s ease-in-out 0.2s infinite forwards;
    }
    .ball-3{
        background-color: $ball-3-bg-color;
        animation: ball-three 1.5s ease-in-out 0.3s infinite forwards;
    }
}
@keyframes ball-one {
    0%{
        transform: translateY(0);
            }
     50%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0);
        }
}
@keyframes ball-two {
    0%{
        transform: translateY(0);
            }
     50%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0);
        }
}
@keyframes ball-three {
    0%{
        transform: translateY(0);
            }
     50%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0);
        }
}
/*CSS RULES FOR FILTER*/
.filter-container{
    width: 200px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .brand-filter-container{
        background-color: white;
        width: 100%;
        border-radius: 10px;
        padding: 20px;
    }
    .filter-title{
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 15px;
        border-bottom: 1px solid #eeeeee;
    }
    .single-radio-input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}
}
