.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color;
}
.header{
    background-color: inherit;
    padding: 20px 0;
    h2{
        font-weight: bolder;
        font-size: 5em;
        background-color: inherit;
        font-family: 'Bonheur Royale', cursive;
    }
}